/* Poppins font -- Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--black);
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: "poppins", Arial, Helvetica, sans-serif;

  --primary-green: #37c96a;
  --primary-orange: #e8a352;
  --primary-purple: #7573ff;

  --white: #fff;
  --black: #000;
  --white-slate: #eee;
  --grey: #555;
}
